<!DOCTYPE html>
<html lang="en">
include head.pug
<body>
  include header.pug
  <div class="main-container">
  include links.pug
  <section id="bedroom">
  <h1>( غرفة النوم )</h1>
  <div class="notes">
    <ul>
      <li>دولاب 280 سم -</li>
      <li>السرير 160 سم -</li>
      <li>اتنين كومود 50 سم -</li>
      <li>تسريحه 150 سم ادراجها نفس الصوره وهتبقى ثابته ع الارض مش معلقه والدرج الى ف النص مش ثابت هيبقى درج عادى ونفس الديكور بالظبط</li>
      <li>البانكيت هيتنجد كابتونيه شبه السرير -</li>
      <li>تقسيمة الدولاب الدرفه اليمين والشمال هيبقوا ارفف عادى والاتنين الى فى النص هيبقوا جرار ومن فوق رف وتحته شماعه وتحت مساحه مقفوله وليكن درج </li>
    </ul>
  </div>
  
  <h2>الدولاب<span> المطلوب </span></h2>
  <div class="imgs"><img src="./imgs/bedroom/Wardrobe.jfif" alt="" /></div>
  <h2>الدولاب<span> المنفذ </span></h2>
  <div class="imgs"><img src="./imgs/bedroom/n3.jpg" alt="" /></div>
  <h2>السرير والكمود - <span>المطلوب</span></h2>
  <div class="imgs"><img src="./imgs/bedroom/bed.jfif" alt="" /></div>
  <h2>السرير والكمود - <span>المنفذ</span></h2>
  <div class="imgs"><img src="./imgs/bedroom/n1.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/bedroom/n7.jpg" alt="" /></div>
  <h2>التسريحه - <span>المطلوب</span></h3>
  <div class="imgs"><img src="./imgs/bedroom/tasreha.jfif" alt="" /></div>
  <h2>التسريحه - <span>المنفذ</span></h3>
  <div class="imgs"><img src="./imgs/bedroom/n8.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/bedroom/n9.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/bedroom/n5.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/bedroom/n6.jpg" alt="" /></div>
  <h2>البانكيت - <span>المطلوب</span></h3>
  <div class="imgs"><img src="./imgs/bedroom/banket.jfif" alt="" /></div>
  <h2>البانكيت - <span>المنفذ</span></h3>
  <div class="imgs"><img src="./imgs/bedroom/new-banket.jfif" alt="" /></div>
  <div class="imgs"><img src="./imgs/bedroom/n-banket.jpg" alt="" /></div>

</section>
  </div>
</body>
</html>
