<!DOCTYPE html>
<html lang="en">
include head.pug
<body>
  include header.pug
  <div class="main-container">
  include links.pug
  <section id="children-room">
  <h1>( غرفة الاطفال )</h1>
  <div class="notes">
    <ul>
      <li>دولاب 2 متر</li>
      <li>اتنين سرير 120 سم</li>
      <li>واحد كومود 50 سم</li>
    </ul>
  </div>

  <h2>الدولاب - <span>المطلوب</span></h2>
  <div class="imgs"><img src="./imgs/children-room/Wardrobe.jfif" alt="" /></div>
  <h2>الدولاب - <span>المنفذ</span></h2>
  <div class="imgs"><img src="./imgs/children-room/n4.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/children-room/n3.jpg" alt="" /></div>
  <h2>السرير والكمود - <span>المطلوب</span></h2>
  <div class="imgs"><img src="./imgs/children-room/bed.jfif" alt="" /></div>
  <h2>السرير والكمود - <span>المنفذ</span></h2>
  <div class="imgs"><img src="./imgs/children-room/n5.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/children-room/n1.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/children-room/n6.jpg" alt="" /></div>
</section>
  </div>
</body>
</html>