<!DOCTYPE html>
<html lang="en">
include head.pug
<body>
  include header.pug
  <div class="main-container">
  include links.pug
  <section id="dining">
    <h1>( السفره - المطلوب )</h1>
    <div class="notes">
      <ul>
        <li>سفره 6 كراسى</li>
        <li>بوفيه 2 متر</li>
        <li>نيش 120 سم</li>
      </ul>
    </div>
    <div class="imgs"><img src="./imgs/dining/1.jfif" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/3.jfif" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/4.jfif" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/5.jfif" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/6.jfif" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/7.jfif" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/9.jfif" alt="" /></div>
    <h1>( السفره - المنفذ )</h1>
    <div class="imgs"><img src="./imgs/dining/n2.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/n3.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/n1.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/n5.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/n6.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/n8.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/krase-sofra1.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/krase-sofra2.jpg" alt="" /></div>
    <div class="imgs"><img src="./imgs/dining/n9.jpg" alt="" /></div>
    <h2>( تم عمل جزامه تتناسب مع ديكور السفره )</h2>
    <div class="imgs"><img src="./imgs/dining/n7.jpg" alt="" /></div>

  </section>
  </div>
  include footer.pug
</body>
</html>