<button id="top">Links</button>
<div id="links">
  <ul>
    <li><a href="index.html" target="self">الرئيسية</a></li>
    <li><a href="bedroom.html" target="self">غرفة النوم</a></li>
    <li><a href="children-room.html" target="self">غرفة الاطفال</a></li>
    <li><a href="dining.html" target="self">السفره</a></li>
    <li><a href="salon.html" target="self">الصالون</a></li>
    <li><a href="living-room.html" target="self">الركنه</a></li>
  </ul>
</div>