<!DOCTYPE html>
<html lang="en">
include head.pug
<body>
  include header.pug
  <div class="main-container">
  include links.pug
  <section id="living-room">
  <h1>( الركنه المطلوبه وتنفذ حسب المكان)</h1>
  <div class="imgs"><img src="./imgs/living-room/1.jfif" alt="" /></div>
  <h1>( الركنه المنفذه وقاعده زياده)</h1>
  <div class="imgs"><img src="./imgs/living-room/n2.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/living-room/n3.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/living-room/n1.jpg" alt="" /></div>
</section>
  </div>
  include footer.pug
</body>
</html>