<!DOCTYPE html>
<html lang="en">
include head.pug
<body>
  include header.pug
  <div class="main-container">
  include links.pug
  <section id="salon">
  <h1>( الصالون المطلوب)</h1>
  <div class="notes">
    <ul>
      <li>صالون كنبه 3 وكنبه 2 و 2 كرسى</li>
    </ul>
  </div>
  <div class="imgs"><img src="./imgs/salon/1.jfif" alt="" /></div>
  <div class="imgs"><img src="./imgs/salon/2.jfif" alt="" /></div>
  <div class="imgs"><img src="./imgs/salon/3.jfif" alt="" /></div>
  //- <div class="imgs"><img src="./imgs/salon/new-1.jpg" alt="" /></div>
  //- <div class="imgs"><img src="./imgs/salon/new-2.jpg" alt="" /></div>
  //- <div class="imgs"><img src="./imgs/salon/new-3.jpg" alt="" /></div>
  //- <div class="imgs"><img src="./imgs/salon/new-4.jpg" alt="" /></div>
  //- <div class="imgs"><img src="./imgs/salon/new-5.jpg" alt="" /></div>
  <h1>( الصالون المنفذ)</h1>
  <div class="imgs"><img src="./imgs/salon/n1.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/salon/n2.jpg" alt="" /></div>
  <div class="imgs"><img src="./imgs/salon/n3.jpg" alt="" /></div>
  </section>
  </div>
</body>
</html>