body {
  margin: 0;
  text-align: center;
}
header {
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 3px;
  font-weight: bold;
  opacity: 0.7;
}
div {
  border-radius: 10px;
}
.main-container {
  width: 95%;
  margin: 30px auto;
}

@media screen and (min-width: 800px) {
  .main-container {
    width: 65%;
  }
}
@media screen and (max-width: 500px) {
  #links ul li {
    width: 25%;
  }
}

img {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
}
h1 {
  color: #f00;
}

span {
  color: #f00;
}
.notes {
  background-color: #f0f0f0;
  color: #00f;
  padding: 10px;
  font-size: 1.2rem;
}
ul {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

div #top {
  color: #fff;
  background-color: #f00;
  border-radius: 40%;
  display: inline-block;
  position: fixed;
  padding: 5px;
  font-weight: bold;
  right: 15px;
  bottom: 15px;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

#top:hover {
  color: #0f0;
}
#links {
  font-weight: bold;
  padding: 5px;
}

#links ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

#links ul li {
  display: block;
  margin: 5px;
  background-color: black;
  padding: 6px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active,
a:hover {
  color: #0f0;
}
